<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryMgmtApp</display-name>
  <servlet>
    <description></description>
    <display-name>CreateUsers</display-name>
    <servlet-name>CreateUsers</servlet-name>
    <servlet-class>com.dev.UserServlet.CreateUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUsers</servlet-name>
    <url-pattern>/CreateUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserss</display-name>
    <servlet-name>CreateUserss</servlet-name>
    <servlet-class>com.dev.UserServlet.CreateUserss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserss</servlet-name>
    <url-pattern>/CreateUserss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dev.UserServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBooksBybookNameSerlvet</display-name>
    <servlet-name>SearchBooksBybookNameSerlvet</servlet-name>
    <servlet-class>com.dev.UserServlet.SearchBooksBybookNameSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooksBybookNameSerlvet</servlet-name>
    <url-pattern>/SearchBooksBybookNameSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBooksByAuthorNameSerlvet</display-name>
    <servlet-name>SearchBooksByAuthorNameSerlvet</servlet-name>
    <servlet-class>com.dev.UserServlet.SearchBooksByAuthorNameSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooksByAuthorNameSerlvet</servlet-name>
    <url-pattern>/SearchBooksByAuthorNameSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentBookHistoryServlet</display-name>
    <servlet-name>StudentBookHistoryServlet</servlet-name>
    <servlet-class>com.dev.UserServlet.StudentBookHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBookHistoryServlet</servlet-name>
    <url-pattern>/StudentBookHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DueBooksSevlet</display-name>
    <servlet-name>DueBooksSevlet</servlet-name>
    <servlet-class>com.dev.UserServlet.DueBooksSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DueBooksSevlet</servlet-name>
    <url-pattern>/DueBooksSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenewBookServlet</display-name>
    <servlet-name>RenewBookServlet</servlet-name>
    <servlet-class>com.dev.UserServlet.RenewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewBookServlet</servlet-name>
    <url-pattern>/RenewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenewServiceServlet</display-name>
    <servlet-name>RenewServiceServlet</servlet-name>
    <servlet-class>com.dev.UserServlet.RenewServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewServiceServlet</servlet-name>
    <url-pattern>/RenewServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePageServlet</display-name>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.AdminHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <url-pattern>/AdminHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAccessServlet</display-name>
    <servlet-name>AdminAccessServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.AdminAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAccessServlet</servlet-name>
    <url-pattern>/AdminAccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewBookServlet</display-name>
    <servlet-name>AddNewBookServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.AddNewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewBookServlet</servlet-name>
    <url-pattern>/AddNewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExistingBookServlet</display-name>
    <servlet-name>AddExistingBookServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.AddExistingBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExistingBookServlet</servlet-name>
    <url-pattern>/AddExistingBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveExistingBookServlet</display-name>
    <servlet-name>RemoveExistingBookServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.RemoveExistingBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveExistingBookServlet</servlet-name>
    <url-pattern>/RemoveExistingBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuebookListServlet</display-name>
    <servlet-name>DuebookListServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.DuebookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuebookListServlet</servlet-name>
    <url-pattern>/DuebookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>returnBooksServlet</display-name>
    <servlet-name>returnBooksServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.returnBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnBooksServlet</servlet-name>
    <url-pattern>/returnBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBooksServlet</display-name>
    <servlet-name>IssueBooksServlet</servlet-name>
    <servlet-class>com.dev.AdminServlet.IssueBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBooksServlet</servlet-name>
    <url-pattern>/IssueBooksServlet</url-pattern>
  </servlet-mapping>
</web-app>